<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <div style="display:none" class="alert alert-danger alert-dismissable fade in" id="errorMsg">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            
        </div>
        @RenderBody()
    </div>

</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</html>
